{% load static %}
<div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'images/logo_4.png' %}" alt="logo" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'product_display' %}">Products</a></li>
                          {% if not user.is_authenticated %}
                        <li><a href="{% url 'accounts' %}">Account</a></li>
                        {% else %}
                        <li><a href="{% url 'logout' %}">Logout {{ user.username }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <a href="{% url 'cart_page' %}"><img src="{% static 'images/cart.png' %}"  width="30px" height="30px">CART</a>
                <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
            </div>