{% extends 'base.html' %}
{% block banner %}
 {% include 'banner.html' %}
{% endblock banner %}

{% block content %}

<div class="small-container">
        <h2 class="title">Products</h2>
        <div class="row">
            {% for product in products %}
            <div class="col-4",style="padding-right: 20px;">

                <a href="{% url 'product_description' product.id %}"><img src="{{ product.image.url }}"></a>
                <center><h4>{{ product.title }}</h4></center>

                <div class="rating"><center>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    </center>
                </div>
                <center><p>$50.00</p></center>

            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}